.app-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.app-heading {
  text-align: center;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
}

.search-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-movie-container {
  display: flex;
  margin-bottom: 20px;
}

.add-movie-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
}

.add-movie-button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

